@import url(http://fonts.googleapis.com/css?family=Lato:400,100italic);

body {
	font-family: 'Lato', sans-serif;
	font-style: italic;	
	font-weight: 300;
	background: #ffffff;
	line-height: 48px;
	overflow-x:hidden;
	text-align: center;
	-webkit-text-stroke-width: 0.1px;
	margin: 0 auto;
}
#main {
	margin: 0 auto;
	background: #ffffff;
}

a:link {
	text-decoration: none;
	color: #ffffff;
}

a:visited {
	color: #ffffff;
}

#hi {
	font-size: 144px;
	line-height: 314px;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: hi;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-fill-mode: both;
  animation-name: hi;
}

#lifehdr {
	color: #ffffff;
	margin: 6px 3px;
}

#lifehdrimg {
	margin-top:-37.5px;
}

.tridown {
	width: 0; 
	height: 0; 
	border-left: 75px solid transparent;
	border-right: 75px solid transparent;
	margin: 5px auto 0 auto;
}

#lifedown {
	border-top: 50px solid #3498DB;
}

@keyframes hi {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

@-webkit-keyframes hi {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.subhead {
	margin-bottom: 0px;
}

.center { 
  	margin: auto;
  	position: relative;
  	top: 50%; left: 50%;
  		-webkit-transform: translate(-50%,-50%);
    	-ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
/*left and right side for work page*/
#leftcontainer {
	float: left;
	width: 66.7%
}

#rightcontainter {
	float: right;
	widht: 33.3%;
}

#life, #work, #contact {
	margin-top:-53px;
}

#lifehdr, #workhdr, #contacthdr {
	margin: 3px;
}

#lifehdr {
	background: #3498db;
}

#lifedown {
	border-top: 50px solid #3498DB;
}

.life {
	margin: 3px;
	background: #3498db;
	color: #ffffff;
	font-size: 48px;
	text-transform:lowercase;
	float: left;
	opacity: 0;
}

.life:hover {
	background: #2ecc71;
}

#workhdr {
	background: #2ecc71;
}

#workdown {
	border-top: 50px solid #2ecc71;
}

#workhdrimg, #contacthdrimg {
	margin-top: 276.5px;
}

.work {
	margin: 3px;
	color: #ffffff;
	font-size: 48px;
	text-transform:lowercase;
	float: left;
	opacity: 0;
}

#focus {
	background: #ffffff;
}

img#focus, img#befairdc, img#pioneer {
	background: none;
}

#focus:hover, #befairdc:hover, #pioneer:hover, #client:hover, #ifcmw:hover, #you:hover {
	background: #E5626C;
	
}

#befairdc {
	background: #000000;
}

#pioneer {
	background: #ffffff;
}

#client {
	background: #7e7e7e;
	font-family: Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	font-size:36px;
	font-style:normal;	
}

#ifcmw {
	background: #142249;
	font-family: Arial, Helvetica, sans-serif;
	font-size:60px;
	font-style:normal;
}

#ifcmwpreview {
	margin-left: auto;
	margin-right: auto;
	background: url(images/ifcmwpreview.jpg);
	height:1442px; 
	width:1040px;
	
}

#you {
	background: #2ecc71;
}

#contacthdr {
	background: #E5626C;
}

#contactdown {
	border-top: 50px solid #E5626C;
}

.contact {
	margin: 3px;
	background: #E5626C;
	color: #ffffff;
	font-size: 48px;
	text-transform:lowercase;
	float: left;
	opacity: 0;
}

.contact:hover {
	background: #3498db;
}

#contact3, #contact4 {
	background: #ffffff;
	color: #E5626C; 
}

#contact3:hover, #contact4:hover {
	background: #3498db;
	color: #ffffff;
}

/*Case Study Pages*/

#case {
	line-height: 314px;
	color: #ffffff;
}

.casehd {
	font-size: 24px;
	color: #2ECC71;
}

#left {
	margin-top: 50px;
	float: left;
	width: 33%;
}

#right {
	margin-top: 50px;
	float: right;
	font-family: Arial, Helvetica, sans-serif;
	color:#252525;
	font-size: 18px;
	width: 67%;
	line-height: 24px;
	text-align: justify;
	font-style: normal;
}

#rightmargin {
	margin-right: 25px;
}

#clientscr1 {
	height: 800px;
	margin-top: 50px;
	
}

.focusscr {
	margin-top: 50px;
	width: 50%;
	height: 50%;
}

.back {
	border-radius: 50%;
	width: 75px;
	height: 75px;
	background: #2ecc71;
	color: #ffffff;
	text-align: center;
	line-height: 75px;
	margin-left: 40%;
	margin-top: 10%;
	margin-bottom: 10%;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
}

.back:hover {
	background: #E5626C;
}

@media screen and (min-width: 100px) {

#main {
	width:100%;
}

header {
	width: 100%;
}

#lifehdr, #workhdr, #contacthdr {
	width: 99%;
}

#life, #work, #contact {
	margin-bottom: 601%;
	width: 100%;
}

.life {
	width: 99%;
}

.work {
	width: 99%;
}

.contact {
	width: 99%;
}

#tjpic {
	width: 70%;
	height: 70%;
	margin-top: 15%;
}

#case {
	font-size: 48px;
}

#pioneer {
	font-size:24px;
}

}

@media screen and (min-width: 651px) {

#main {
	width: 100%;
}

#lifehdr, #workhdr, #contacthdr {
	width: 99.3%;
}


#life, #work, #contact {
	margin-bottom: 150%;
	width: 100%;
}

.life {
	width: 49.16%;
}

.work {
	width: 49.16%;
}

.contact {
	width: 49.16%;
}

#tjpic {
	width: 70%;
	height: 70%;
	margin-top: 15%;
}

#case {
	font-size: 72px;
}

#pioneer {
	font-size:48px;
}

@media screen and (min-width: 1000px) {

#main {
	width: 960px;
}

#header {
	width: 954px;
}

#lifehdr, #workhdr, #contacthdr {
	height: 314px;
	width: 954px;
}

#life, #work, #contact {
	height: 640px;
	width: 960px;
	margin-bottom: 0%;
}

.life {
	width: 314px;
}

.work {
	width: 314px;
}

.contact {
	width: 314px;
}

#tjpic {
	width: 200px;
	height: 200px;
	margin-top: 55px;
}

#case {
	font-size: 72px;
}

#pioneer {
	font-size:48px;
}

}